In [ ]:
import duckdb

# Load SQL extension
%load_ext sql

# Initialize ðŸ¦† DuckDB connection
conn = duckdb.connect()

# Import database
%sql conn --alias duckdb
%sql IMPORT DATABASE '../../data/nps';

Build a query to fetch all the parks in Utah and order the results by the park name.

In [ ]:
%%sql

Build a query to fetch all the National Parks that cross state boundaries. 

Hint: `parks.states` is a string representation of a list, i.e. `UT,CA,NC`. The `parks` table includes parks that aren't National Parks.

In [ ]:
%%sql

For all national parks, return the `states` column as a `STRUCT` type with each element as a state

In [ ]:
%%sql

Which parks are in either Montana or Wyoming?

In [ ]:
%%sql

What about _both_ Montana _and_ wyoming?

In [ ]:
%%sql

Which park is in the greatest number of states?

In [ ]:
%%sql

Now, how many parks are in each "group" of state border-crossings?

Hint: we're grouping by the _number_ of states.

In [ ]:
%%sql

What's the percentage share of the total? Hint: window functions might be helpful.

In [ ]:
%%sql

Write a query that returns the _largest_ campsite in each park. As a bonus, do this _without_ using a CTE (filter in the same query)

In [ ]:
%%sql

Say you'll be in California this spring and have time for three National Parks visits. How many combinations of national parks can you visit? Can you return the combinations in a list ordered by the name of the first park?

In [ ]:
%%sql

For our final exerciseâ€” find the combinations in alphabetical order, that is, the first letter of each visit occurs in the order of the alphabet, e.g. `[C]hannel Islands, [D]eath Valley, [J]oshua Tree` would satisfy that condition.

In [ ]:
%%sql